<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="templates/mastertemplate.xhtml">
	<ui:define name="title">
		Account activation
	</ui:define>
	<ui:define name="content">
		<div align="center">
			<f:metadata>
				<f:viewParam name="username" value="#{activationBean.username}" />
				<f:viewParam name="key" value="#{activationBean.key}" />
				<f:event type="preRenderView" listener="#{activationBean.init}" />
			</f:metadata>
			<br /> <br />
			<h:outputLabel styleClass="errorMessages"
				value="Activation url is invalid!"
				rendered="#{param.username == null || param.key == null}" />

			<h:form
				rendered="#{param.username != null &amp;&amp;  param.key != null }">
				<h:outputLabel value="Your account is active. You can login now!"
					rendered="#{activationBean.active}" />
				<h:outputLabel styleClass="errorMessages"
					value="An error occurred while activating account! Make sure your activation url is correct and that it has no more than 24hours!"
					rendered="#{!activationBean.active}" />
			</h:form>

		</div>

	</ui:define>
</ui:composition>
</html>