<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="templates/mastertemplate.xhtml">
	<ui:define name="title">
	    Contact us
	</ui:define>
	<ui:define name="content">
	<br />
		<div align="center">
			<h:outputText value="Contact us" styleClass="innerTitle" />
			<br />
			<h:form>
				<h:outputLabel
					value="Do you have questions? A sugestion? Send us a message." />
				<br />
				<br />
				<h:panelGrid columns="2">
					<h:outputLabel value="Email:" />
					<h:inputText id="email" value="#{contactBean.email}" style="width:300px;"
						required="true" requiredMessage="You must enter an email">
						<f:validator validatorId="EmailValidator" />
					</h:inputText>
						<br />
					<h:message id="emailMessage" for="email" styleClass="errorMessages" />
					<h:outputLabel value="Message" />
					<h:inputTextarea value="#{contactBean.text}" rows="12" style="width:300px;" />
					<h:outputLabel value="" />
					<h:commandButton action="#{contactBean.sendMessage}"
						value="Send Message" />
				</h:panelGrid>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>