<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="templates/mastertemplate.xhtml">
	<ui:define name="title">
	    How it works
	</ui:define>
	<ui:define name="content">
		<br />
		<div align="center">
			<h:outputText value="How it works" styleClass="innerTitle" />
			<br /> <br />
			<h:panelGrid columns="2">
				<h:panelGrid columns="2" styleClass="howsTable">
					<h:graphicImage height="100" value="/resources/images/devel.png" />
										Develop
								</h:panelGrid>
				<div class="textBlocks2">
					<p>You can develop your PHP application in your environment as
						you usually do. Your application may have a PostgreSQL database
						connection.</p>
					<p>We will support MySQL soon.</p>
				</div>
				<h:panelGrid columns="2" styleClass="howsTable">
					<h:graphicImage height="100" value="/resources/images/upload.png" />
										Upload
								</h:panelGrid>
				<div class="textBlocks2">
					<p>Pack your application directory the way you want to be in
						the server.</p>
					<p>Just make a .zip file, and upload it in our page. We will
						unzip it and you're ready to go!</p>
				</div>
				<h:panelGrid columns="2" styleClass="howsTable">
					<h:graphicImage height="100" value="/resources/images/relax.png" />
										Relax
								</h:panelGrid>
				<div class="textBlocks2">
					<p>You don't have to worry about nothing. Just sit and relax.</p>
					<p>Our system make the management of your application and we
						can assure you 99% of uptime!</p>
					<p>You can check statistics to see how your app is growing!</p>
				</div>
			</h:panelGrid>
		</div>
	</ui:define>
</ui:composition>
</html>