<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="templates/mastertemplate.xhtml">
	<ui:define name="title">
		Home
	</ui:define>
	<ui:define name="content">
		<br />
		<div align="center">
			<br />
			<h:panelGroup layout="block" styleClass="content2col">
				<div class="textBlocks">
					<p>Scale.Me is a Platform-as-a-Service designed specifically
						for Cloud application development and deployment.</p>
					<p>But what is a PaaS?</p>
					<p>It's a delivery of a computer plataform and a software stack
						over the web. PaaS enables you to create and deploy web
						applications quickly, without the cost and complexity of buying
						and managing the underlying software/hardware, providing all of
						the facilities required to support the complete life cycle of
						building and delivering web applications and services entirely
						available from the Internet.</p>
					<p>Our service propose to host your PHP application quickly, as
						mention for prescind the user of hardware and software
						configurations.</p>
				</div>
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="content2col">
				<h:graphicImage height="250" value="/resources/images/box.png" />
			</h:panelGroup>
		</div>
	</ui:define>
</ui:composition>
</html>