<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="templates/mastertemplate.xhtml">
	<ui:define name="title">
	    Pricing
	</ui:define>
	<ui:define name="content">
		<br />
		<div align="center">
			<h:outputText value="Pricing" styleClass="innerTitle" />
			<br />
			<br />
			<table class="packagesContainer">
				<tr>
					<ui:repeat var="bundle" value="#{addServiceBean.bundleList}">
						<td><h:panelGroup styleClass="packages" layout="block">
								<h:panelGrid styleClass="packagesTable">
									<h:panelGroup styleClass="packageName" layout="block">
										<h:outputText value="#{bundle.name}" />
									</h:panelGroup>
									<h:panelGroup styleClass="packageLabel" layout="block">
										<h:outputText value="Database" />
									</h:panelGroup>
									<h:panelGroup styleClass="packageValue" layout="block">
										<h:outputText value="#{bundle.database} MB" />
									</h:panelGroup>
									<h:panelGroup styleClass="packageLabel" layout="block">
										<h:outputText value="Storage" />
									</h:panelGroup>
									<h:panelGroup styleClass="packageValue" layout="block">
										<h:outputText value="#{bundle.storage} GB" />
									</h:panelGroup>
									<h:panelGroup styleClass="packageLabel" layout="block">
										<h:outputText value="Workers" />
									</h:panelGroup>
									<h:panelGroup styleClass="packageValue" layout="block">
										<h:outputText value="#{bundle.workers}" />
									</h:panelGroup>
									<h:panelGroup styleClass="packageLabel" layout="block">
										<h:outputText value="Price" />
									</h:panelGroup>
									<h:panelGroup styleClass="packageValue" layout="block">
										<h:outputText value="#{bundle.price} €" />
									</h:panelGroup>
								</h:panelGrid>
							</h:panelGroup></td>
					</ui:repeat>
				</tr>
			</table>

			<div class="textBlocks">
				<p>
					We have three packages available at the moment. If you want some
					custom settings please
					<h:outputLink
						value="#{facesContext.externalContext.requestContextPath}/contact.jsf">
				 contact us </h:outputLink>
					providing detailed information and we'll help you scale your
					service!
				</p>

			</div>
		</div>
	</ui:define>
</ui:composition>
</html>