<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui" >

<ui:composition template="templates/mastertemplate.xhtml">
	<ui:define name="title">
		Password recovery
	</ui:define>
	<ui:define name="content">
	<br />
	<br />
		<div align="center">
			<h:form id="form">				
			<h:outputLabel value="Please insert your email in the field to receive a new password!" />
			<br/>
				<h:panelGrid columns="2" border="0" cellspacing="2" cellpadding="0">
					<h:outputText value="*Email" />
					<h:panelGroup >
					<h:inputText id="email" value="#{recoveryBean.email}" size="27"
						required="true" requiredMessage="You must enter an email">
						<f:validator validatorId="EmailValidator"/>
					</h:inputText><f:verbatim><br/></f:verbatim>
					<h:message id="emailMessage" for="email" styleClass="errorMessages" />
					</h:panelGroup>
					
				</h:panelGrid>
					<ui:insert name="captcha">
						<ui:include src="/snippets/captcha.xhtml" />
					</ui:insert>
			<br />
           

				<h:commandButton value="Submit" action="#{recoveryBean.generate}"/>
			</h:form>

		</div>

	</ui:define>
</ui:composition>
</html>