<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="templates/mastertemplate.xhtml">
	<ui:define name="title">
		Create account
	</ui:define>
	<ui:define name="content">
	<br />
		<div align="center">
			<h:outputText value="Create an account" styleClass="innerTitle" />
			<br /><br />
			<f:metadata>
				<f:event type="preRenderView" listener="#{registerBean.init}" />
			</f:metadata>
			<h:form id="registerForm">

				
				<h:panelGrid columns="2" border="0" cellspacing="2" cellpadding="0">

					<h:outputText value="*Username" />
					<h:panelGroup >
					<h:inputText id="usernameReg" value="#{registerBean.username}"
						required="true" requiredMessage="You must enter a username"
						validator="#{registerBean.validateUsername}" size="27">
						<f:ajax event="blur" render="usernameErrorMessage" />
					</h:inputText><f:verbatim><br/></f:verbatim>
					<h:message id="usernameErrorMessage" for="usernameReg"
						styleClass="errorMessages" />
					</h:panelGroup>

					<h:outputText value="*Password" />
					<h:panelGroup >
					<h:inputSecret id="password" value="#{registerBean.password}" size="27"
						redisplay="true" required="true"
						requiredMessage="You must enter a password"
						validatorMessage="Password must be at least 5 chars">
						<f:validateLength minimum="5" />
					</h:inputSecret><f:verbatim><br/></f:verbatim>
					<h:message id="passwordErrorMessage" for="password"
						styleClass="errorMessages" />
					</h:panelGroup>

					<h:outputText value="*Confirm Password" />
					<h:panelGroup >
					<h:inputSecret id="confirmPasswordRegister"
						value="#{registerBean.passwordConfirmation}" size="27"
						redisplay="true" required="true"
						requiredMessage="You must confirm the password">
					</h:inputSecret><f:verbatim><br/></f:verbatim>
					<h:message id="passwordConfirmationMessage" for="confirmPasswordRegister"
						styleClass="errorMessages" />
					</h:panelGroup>

					<h:outputText value="Name" />
					<h:panelGroup >
					<h:inputText id="name" value="#{registerBean.name}" size="27">
					</h:inputText><f:verbatim><br/></f:verbatim>
					</h:panelGroup>

					<h:outputText value="*Email" />
					<h:panelGroup >
					<h:inputText id="email" value="#{registerBean.email}" size="27"
						required="true" requiredMessage="You must enter an email">
						<f:validator validatorId="EmailValidator"/>
					</h:inputText><f:verbatim><br/></f:verbatim>
					<h:message id="emailMessage" for="email" styleClass="errorMessages" />
					</h:panelGroup>

				</h:panelGrid>
				
					<ui:insert name="captcha">
						<ui:include src="/snippets/captcha.xhtml" />
					</ui:insert>
				<h:commandButton value="Register" action="#{registerBean.register}"/>
			</h:form>

		</div>

	</ui:define>
</ui:composition>
</html>