<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">Default Title</ui:insert></title>
	<h:outputStylesheet name="Style.css" library="css" />
</h:head>

<h:body>
	<table class="bodyStyle">
		<tr>
			<td class="topImage" />
		</tr>
		<tr>
			<td class="middleImage">
				<table class="header">
					<tr>
					<td>
					<div id="logo">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/index.jsf">
							<h:graphicImage name="logo.png" library="images" />
						</h:outputLink>
					</div>
</td><td>
					<div id="messages" align="center">
						<h:outputText value="The session has expired! Please login again"
							rendered="#{param.error == 'session_timeout'}" />
						<h:outputText
							value="You don't have privileges to access the requested page"
							rendered="#{param.error == 'access_denied'}" />
						<h:outputText
							value="You must be logged in to access the requested page"
							rendered="#{param.error == 'login_first'}" />
						<h:outputText value="Wrong credentials"
							rendered="#{param.error == 'bad_auth'}" />

						<h:panelGrid columns="1" style="">
							<h:message styleClass="errorMessages" for="j_username" />
							<h:message styleClass="errorMessages" for="j_password" />
						</h:panelGrid>
					</div>
</td><td>
					<div id="login" align="center">
						<ui:insert name="login">
							<ui:include src="/snippets/logout.xhtml" />
						</ui:insert>
					</div>
</td>
				</tr>
				</table>

				<div id="buttons">
					<ui:insert name="buttons">
						<ui:include src="/snippets/menuBar.xhtml" />
					</ui:insert>
				</div>

				<div id="sepBar">
					<h:graphicImage name="div_header1000.png" library="images" />
				</div>

				<div id="mainContent">
					<ui:insert name="content">
							    	Default Content
				  			</ui:insert>
				</div></td>
		</tr>
		<tr>
			<td class="footerImage" />
		</tr>
	</table>
</h:body>
</html>