body {
	background-color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
}
.infoMessages {
	font-weight: bold;
	color: #4BB468;
}
.errorMessages {
	font-weight: bold;
	color: #F26973;
}
.fields {
	size: 27;
}
.innerTitle {
	font-weight: bold;
	font-size: 22px;
	color: #C3E7E6;
}
table {
	border: 0;
	padding: 0;	
	border-spacing: 0;
}
.bodyStyle{
	background-color: #BFD5E3;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.packagesContainer td{
	padding-right: 20px;
	padding-left: 20px
	}
.howsTable{
	text-align: center;
	vertical-align: middle;
	background-color: #7B7474;
	width: 250px;
	height: 140px;
	margin: 20px;
	}
.howsTable td{
	color: #D08A52;
	font-size: 38px;
}
.packagesTable{
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	}
.packagesTable td{
	padding: 0px;
	}
td {
	color: #FFFFFF;
	padding: 0;	
	border-spacing: 0;
}
.formlabels{
	width: 100px;
	text-align: right;
	}
.formvalues{
	width: 200px;
	text-align: left;
	}
.topImage{
	height: 50px;
	background-image: url("#{resource['images:layout2_loggedin_02_1000.png']}");
	vertical-align: top;
}
.middleImage{
	background-image: url("#{resource['images:layout2_loggedin_04_1000.png']}");
	vertical-align: top;
}
.footerImage{
	height: 50px;
	background-image: url("#{resource['images:layout2_loggedin_06_1000.png']}");
	vertical-align: top;
}
.menuCollumns{
	width: 110px;
	height: 30px;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
}

div{
}
.packages{
	width: 150px;
	background-color: #F4EDD0;
	border: 1px solid;
	border-style: solid;
	}
.textBlocks{
	text-align:justify;
	width: 350px;
	}
.textBlocks2{
	text-align:justify;
	width: 250px;
}
.packageName{	
	text-align: center;
	color: #EE6C1F;
	font-size: 20px;
	font-weight: bold;
}
.packageLabel{	
	text-align: center;
	color: #F39862;
	font-size: 16px;
	font-weight: bold;
}
.packageValue{
	text-align: center;
	color: #83431D;
	font-size: 14px;
	font-weight: bold;
}
.content2col{
	float:left;
	width:50%;
	align: center;
}
#messages{
	width: 500px;
	height: 50px; 
    margin: 20px auto 0px 20px;
	float: left;
	color: #615353;
}
#logo{
	height: 70px;
    margin: 0px 0px 0px 50px;
	float: left;
	}
#login{
	height: 70px;
    margin: 0px 60px 0px 0px;
	float: right;
	color: #615353;
}
#login td{
	color: #615353;
}
.header{
	display: block;
	width: 1000px;
	height: 80px;
	}
#buttons{
	float: right; 
	padding-right: 50px;
	padding-left: 35px;
	margin-bottom: 3px;
	background-image: url("#{resource['images:barra_btns.png']}");
}#buttons td:HOVER{
	background-image: url("#{resource['images:btn_sel.png']}");
}
#sepBar{	
	margin-bottom: 3px;
}
#mainContent{
	width: 900px;
	min-height: 350px;
	margin: 0px auto 0px auto;
	text-align: center;
	background-image: url("#{resource['images:bg_content_1000.png']}");
}
a{	
	color: #E38D3C;
	text-decoration: none;
	font-weight: bold;
	}

.panels{
	display: block;
	height: 100%;
	}