<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui">
	 
    <!--<p:captcha id="captcha" theme="white" requiredMessage="You must enter the text shown in the image"/> 
   <h:message for="captcha" styleClass="errorMessages" />     -->
</ui:composition>