<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<f:metadata>
		<f:event type="preRenderView" listener="#{loginBean.init}" />
	</f:metadata>
	<div align="center">
	<h:form rendered="#{!loginBean.loggedIn}" >
		<h:panelGrid columns="2" style="color: #615353;">
			<h:outputText value="Username"></h:outputText>
			<h:inputText id="j_username" value="#{loginBean.username}"
				requiredMessage="Username is required!" required="true"></h:inputText>
			<h:outputText value="Password"></h:outputText>
			<h:inputSecret id="j_password" value="#{loginBean.password}"
				requiredMessage="Password is required!" required="true"></h:inputSecret>
			<h:outputText value="Remember me" />

			<h:panelGroup layout="block" >
				<h:selectBooleanCheckbox id="_spring_security_remember_me"
					value="#{loginBean.rememberMe}" />
			<h:outputLink  value="#{facesContext.externalContext.requestContextPath}/recovery.jsf">Forgot?</h:outputLink>
				<h:commandButton value="Login" action="#{loginBean.loginAction}" style="margin-left:42px;"></h:commandButton>
			</h:panelGroup>
		</h:panelGrid>
	</h:form>
	<h:form rendered="#{loginBean.loggedIn}" >
		<h:panelGrid columns="1" width="250" style="align: center;">
		<h:panelGroup>
			<p>
			Welcome, 
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/user/editaccount.jsf">
					<h:outputText value="#{loginBean.name != null ? loginBean.name : loginBean.username}" />
				</h:outputLink>
				.
			</p>
		</h:panelGroup>		
			<h:commandButton value="Logout" action="#{loginBean.logoutAction}"></h:commandButton>
		</h:panelGrid>
	</h:form>
	</div>
</ui:composition>