<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:req="http://jakarta.apache.org/taglibs/request-1.0" 
	xmlns:f="http://java.sun.com/jsf/core">
		<h:panelGrid columns="10"
			columnClasses="menuCollumns,menuCollumns,menuCollumns,menuCollumns,menuCollumns,menuCollumns,menuCollumns">
			<h:column rendered="#{!loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/howitworks.jsf">
					<h:outputText value="How it Works" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{!loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/pricing.jsf">
					<h:outputText value="Pricing" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{!loginBean.loggedIn}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/register.jsf">
					<h:outputText value="Register" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/admin/directives.jsf">
					<h:outputText value="Directives" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/admin/configfiles.jsf">
					<h:outputText value="Files" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/admin/listUsers.jsf">
					<h:outputText value="Users" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/admin/servicesList.jsf">
					<h:outputText value="Services" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{loginBean.loggedIn &amp;&amp; !loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/user/servicestatistic.jsf">
					<h:outputText value="Statistics" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{loginBean.loggedIn &amp;&amp; !loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/user/addservice.jsf">
					<h:outputText value="Service" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{loginBean.loggedIn &amp;&amp; !loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/user/service.jsf">
					<h:outputText value="Add application" />
				</h:outputLink>
			</h:column>
			<h:column rendered="#{!loginBean.admin}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/contact.jsf">
					<h:outputText value="Contact us" />
				</h:outputLink>
			</h:column>
		</h:panelGrid>
</ui:composition>