<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/templates/mastertemplate.xhtml">

	<ui:define name="title">
		Service
	</ui:define>
	<ui:define name="content">
		<br />
		<div align="center">
			<h:outputText value="Create your service" styleClass="innerTitle" />
			<br />
			<br />
			<h:form id="addServiceForm">
				<table class="packagesContainer">
					<tr>
						<ui:repeat var="bundle" value="#{addServiceBean.bundleList}">
							<td><h:panelGroup styleClass="packages" layout="block">
									<h:commandLink action="#{addServiceBean.changeBundle}"
										styleClass="panels">
										<h:panelGrid styleClass="packagesTable">
											<h:panelGroup styleClass="packageName" layout="block">
												<h:outputText value="#{bundle.name}" />
											</h:panelGroup>
											<h:panelGroup styleClass="packageLabel" layout="block">
												<h:outputText value="Database" />
											</h:panelGroup>
											<h:panelGroup styleClass="packageValue" layout="block">
												<h:outputText value="#{bundle.database} MB" />
											</h:panelGroup>
											<h:panelGroup styleClass="packageLabel" layout="block">
												<h:outputText value="Storage" />
											</h:panelGroup>
											<h:panelGroup styleClass="packageValue" layout="block">
												<h:outputText value="#{bundle.storage} GB" />
											</h:panelGroup>
											<h:panelGroup styleClass="packageLabel" layout="block">
												<h:outputText value="Workers" />
											</h:panelGroup>
											<h:panelGroup styleClass="packageValue" layout="block">
												<h:outputText value="#{bundle.workers}" />
											</h:panelGroup>
											<h:panelGroup styleClass="packageLabel" layout="block">
												<h:outputText value="Price" />
											</h:panelGroup>
											<h:panelGroup styleClass="packageValue" layout="block">
												<h:outputText value="#{bundle.price} €" />
											</h:panelGroup>
										</h:panelGrid>
										<f:setPropertyActionListener target="#{addServiceBean.bundle}"
											value="#{bundle}" />
										<f:ajax
											render=":addServiceForm:database :addServiceForm:storage :addServiceForm:workers :addServiceForm:price :addServiceForm:duration" />
									</h:commandLink>
								</h:panelGroup></td>
						</ui:repeat>
					</tr>
				</table>
				<br />
				<h:panelGrid columns="2" style="width=100%;">
					<h:panelGrid columns="2" style="padding-right:30px;">
						<h:outputLabel value="Domain" />
						<h:inputText id="appname" value="#{addServiceBean.serviceName}"
							required="true" requiredMessage="Domain is required" />
						<h:outputLabel value="Description" />
						<h:inputText id="appdesc" value="#{addServiceBean.serviceDesc}" />
						<h:outputLabel value="Database Space (MB)" />
						<h:inputText id="database" value="#{addServiceBean.database}"
							disabled="true" />
						<h:outputLabel value="Storage Space (GB)" />
						<h:inputText id="storage" value="#{addServiceBean.storage}"
							disabled="true" />
						<h:outputLabel value="Workers" />
						<h:inputText id="workers" value="#{addServiceBean.workers}"
							disabled="true" />
					</h:panelGrid>
					<h:panelGroup>
						<h:panelGrid columns="2" style="width:200px;">
							<h:outputText value="Price" />
							<h:outputLabel id="price" value="#{addServiceBean.price} €" />
							<h:outputText value="Duration" />
							<h:outputLabel id="duration"
								value="#{addServiceBean.duration} days" />
						</h:panelGrid>
						<h:panelGroup>
							<h:messages styleClass="errorMessages" />
							<h:commandButton action="#{addServiceBean.addService}"
								disabled="#{addServiceBean.hasService}" value="Add service" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>