<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/templates/mastertemplate.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{editProfileBean.init}" />
	</f:metadata>
	<ui:define name="title">
		Edit Profile
	</ui:define>
	<ui:define name="content">
		<br />
		<div align="center">
			<h:outputText value="Edit profile" styleClass="innerTitle" />
			<br />
			<br />
			<h:form id="editProfileForm">


				<h:panelGrid columns="2" columnClasses="formlabels">

					<h:outputText value="Username" style="width:200px;" />
					<h:panelGroup>
						<h:inputText id="usernameEdt" value="#{editProfileBean.username}"
							disabled="true" size="27">
						</h:inputText>
						<f:verbatim>
							<br />
						</f:verbatim>
					</h:panelGroup>

					<h:outputText value="Password*" />
					<h:panelGroup>
						<h:inputSecret id="password" value="#{editProfileBean.password}"
							size="27" redisplay="false" required="true"
							requiredMessage="You must enter your password">
						</h:inputSecret>
						<f:verbatim>
							<br />
						</f:verbatim>
						<h:message id="passwordErrorMessage" for="password"
							styleClass="errorMessages" />
					</h:panelGroup>

					<h:outputText value="Name" />
					<h:panelGroup>
						<h:inputText id="name" value="#{editProfileBean.name}" size="27">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="Email*" />
					<h:panelGroup>
						<h:inputText id="email" value="#{editProfileBean.email}" size="27"
							required="true" requiredMessage="You must enter an email">
							<f:validator validatorId="EmailValidator" />
						</h:inputText>
						<f:verbatim>
							<br />
						</f:verbatim>
						<h:message id="emailMessage" for="email"
							styleClass="errorMessages" />
					</h:panelGroup>

					<h:outputText value="Nif" />
					<h:panelGroup>
						<h:inputText id="nif" value="#{editProfileBean.nif}" size="27"
							converterMessage="Nif must be a number">
						</h:inputText>
						<f:verbatim>
							<br />
						</f:verbatim>
						<h:message id="nifMessage" for="nif" styleClass="errorMessages" />
					</h:panelGroup>
				</h:panelGrid>

				<f:verbatim>
					<br />
					<br />
				</f:verbatim>
				<h:outputText
					value="Fill these fields if you want to change your password" />
				<h:panelGrid columns="2" columnClasses="formlabels">

					<h:outputText value="New Password" style="width:200px;" />
					<h:panelGroup>
						<h:inputSecret id="newPassword"
							value="#{editProfileBean.newPassword}" size="27" redisplay="true">
						</h:inputSecret>
						<f:verbatim>
							<br />
						</f:verbatim>
						<h:message id="newPasswordMessage" for="newPassword"
							styleClass="errorMessages" />
					</h:panelGroup>

					<h:outputText value="Confirm Password" />
					<h:panelGroup>
						<h:inputSecret id="confirmPassword"
							value="#{editProfileBean.passwordConfirmation}" size="27"
							redisplay="true">
						</h:inputSecret>
						<f:verbatim>
							<br />
						</f:verbatim>
						<h:message id="passwordConfirmationMessage" for="confirmPassword"
							styleClass="errorMessages" />
					</h:panelGroup>
				</h:panelGrid>
				<h:commandButton value="Save" action="#{editProfileBean.save}" />
			</h:form>

		</div>

	</ui:define>
</ui:composition>
</html>