<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/templates/mastertemplate.xhtml">
	<ui:define name="title">
		Service
	</ui:define>
	<ui:define name="content">
		<div align="center">

			<br /> <br />
				
				<h:outputText value="Your applications" styleClass="innerTitle" />
				<br />
				<br />
				<h:form id="appsForm">
					<h:outputText value="No applications were deployed"
						rendered="#{!showServiceBean.hasApps}" size="10" />
					<h:dataTable binding="#{showServiceBean.dataTable}"
						columnClasses="formlabels,formvalues"
						value="#{showServiceBean.applications}" var="item">
						<h:column>
							<h:outputLink value="#{item.url}" style="font-size:14;">#{item.name}</h:outputLink>
						</h:column>
					</h:dataTable>
				</h:form>
				<h:panelGroup layout="block" style="align:center;">
					<br />
					<h:outputText value="Add an application" styleClass="innerTitle" />
					<br />
					<br />
					<h:form id="uploadForm" enctype="multipart/form-data">
						<h:panelGrid columns="2" columnClasses="formlabels,formvalues">
							<h:outputLabel value="Name*" />
							<h:inputText id="appname" value="#{showServiceBean.appName}"
								required="true" requiredMessage="Application name is required" />
						</h:panelGrid>
							<h:message for="appname" errorClass="errorMessages" infoClass="infoMessages"/>
						<br />
						<h:panelGrid>
							<t:inputFileUpload id="file" required="true"
								value="#{showServiceBean.uploadedFile}"
								requiredMessage="You must select a .zip file" />
							<h:message for="file" errorClass="errorMessages" infoClass="infoMessages"/>
						</h:panelGrid>
						<br />
						<h:commandButton action="#{showServiceBean.addApp}" rendered="#{showServiceBean.hasService}"
							value="Add application" />
						<h:outputText value="You dont't have a Service created" rendered="#{!showServiceBean.hasService}"/>

					<br />
					<br />
					</h:form>
				</h:panelGroup>

		</div>
	</ui:define>
</ui:composition>
</html>