<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui">



<ui:composition template="/templates/mastertemplate.xhtml">
	<ui:define name="title">
            Service Statistics
        </ui:define>


	<ui:define name="content">
		<script type="text/javascript">  
    	var chartStyle = {  
        	padding:20,  
            legend: {  
            	display:"right",  
                spacing:10  
        	},
        	background: {
        		color: "#4f4f4f"
        	}
        };  
    </script>
		<br />
		<div align="center">
			<h:outputText value="Statistics" styleClass="innerTitle" />
			<br />
			<br />

			<h:outputText rendered="#{!serviceStatisticBean.gotService}"
				value="You don't possess a service!" />
			<h:panelGrid columns="1"
				rendered="#{serviceStatisticBean.gotService}">
				<h:outputText
					rendered="#{!serviceStatisticBean.spaceGraphic &amp;&amp; !serviceStatisticBean.cpuGraphic &amp;&amp; !serviceStatisticBean.memoryGraphic}"
					value=" Your service don´t have statistics!" />
				<h:panelGroup>
					<br />
					<br />
					<h:form>
						<h:panelGroup layout="block" id="myPanel"
							rendered="#{serviceStatisticBean.spaceGraphic}">
							<p:pieChart value="#{serviceStatisticBean.lista}" var="statistic"
								categoryField="#{statistic.name}" dataField="#{statistic.v}"
								style="chartStyle" />
						</h:panelGroup>

						<br />
						<br />
						<h:panelGroup layout="block" id="myPanel1"
							rendered="#{serviceStatisticBean.cpuGraphic}">
							<p:lineChart value="#{serviceStatisticBean.listacpu}" var="cpu"
								xfield="#{cpu.name}" style="chartStyle">
								<p:chartSeries label="Application CPU Instant" value="#{cpu.v}" />
								<p:chartSeries label="Application CPU Average" value="#{cpu.v1}" />
								<p:chartSeries label="Database CPU Instant" value="#{cpu.v2}" />
								<p:chartSeries label="Database CPU Average" value="#{cpu.v3}" />
							</p:lineChart>
						</h:panelGroup>
						<br />
						<br />
						<h:panelGroup layout="block" id="myPanel2"
							rendered="#{serviceStatisticBean.memoryGraphic}">
							<p:lineChart value="#{serviceStatisticBean.listamem}" var="mem"
								xfield="#{mem.name}" style="chartStyle">
								<p:chartSeries label="PHP Memory Used" value="#{mem.v}" />
								<p:chartSeries label="Database Memory Used" value="#{mem.v1}" />
							</p:lineChart>
						</h:panelGroup>

					</h:form>

				</h:panelGroup>
			</h:panelGrid>
		</div>
	</ui:define>
</ui:composition>
</html>