<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="../templates/mastertemplate.xhtml">
	<ui:define name="title">
	    Success
	</ui:define>
	<ui:define name="content">
	<br />
	<br />
	 <h:outputLabel 
	 value="Your service was created sucessfully. " />
	 
	 
	</ui:define>
</ui:composition>
</html>