<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/templates/mastertemplate.xhtml">
	<ui:define name="title">
	    Edit configuration files
	</ui:define>
	<ui:define name="content">
		<div align="center">
			<br />
			<h:outputText value="Configuration Templates" styleClass="innerTitle" />
			<br />
			<h:outputLabel
				value="Select a component to see and edit the respective configuration template" />
			<br /> <br />
			<h:form>
				<h:panelGrid>
					<h:selectOneMenu immediate="true" style="width:100%"
						valueChangeListener="#{configFilesBean.changeComponent}">
						<f:ajax event="valueChange" render="textArea fileName er" />
						<f:selectItems value="#{configFilesBean.components}" var="c"
							itemLabel="#{c.name}" itemValue="#{c}" />
					</h:selectOneMenu>
					<br />
					<h:panelGroup>
						<h:outputLabel value="File name" />
						<h:inputText id="fileName" value="#{configFilesBean.fileName}"
							style="width:100%" binding="#{configFilesBean.fileNameInput}" />
					</h:panelGroup>
					<h:inputTextarea id="textArea" cols="70"
						binding="#{configFilesBean.templateArea}"
						value="#{configFilesBean.template}" rows="16" />
					<h:panelGrid columns="2">
						<h:commandButton id="saveButton" value="Save changes">
							<f:ajax listener="#{configFilesBean.saveFile}"
								execute="fileName textArea" render="er" />
						</h:commandButton>
						<h:messages id="er" style="height:20px;" infoClass="infoMessages"
							errorClass="errorMessages" />
					</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>