<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/templates/mastertemplate.xhtml">
	<ui:define name="title">
	    Edit components directives
	</ui:define>
	<ui:define name="content">
		<br />
		<div align="center">
			<h:outputText value="Components directives" styleClass="innerTitle" />
			<br />
			<h:outputLabel
				value="Components need configuration files, right? Here you can set the default pairs name/value that will form each configuration file for each component." />
			<br /><br />
			<h:panelGrid columns="1">
				<h:panelGroup>

					<h:form>
						<h:selectOneMenu immediate="true" style="width:100%;"
							valueChangeListener="#{directivesBean.changeComponent}">
							<f:ajax event="valueChange" render=":directivesForm" />
							<f:selectItems value="#{directivesBean.components}" var="c"
								itemLabel="#{c.name}" itemValue="#{c}" />
						</h:selectOneMenu>
						<h:message for="name" errorClass="errorMessages" />
						<h:message for="value" errorClass="errorMessages" />
						<h:panelGrid columns="3">

							<h:outputLabel value="Name" />
							<h:outputLabel value="Value" />
							<h:outputLabel value="" />

							<h:inputText id="name" binding="#{directivesBean.name}"
								value="#{directivesBean.clear}" required="true"
								requiredMessage="Name is required" size="10" />

							<h:inputText id="value" binding="#{directivesBean.value}"
								value="#{directivesBean.clear}" required="true"
								requiredMessage="Value is required" size="10" />

							<h:commandButton image="/resources/images/plus.png">
								<f:ajax execute="@form" render=":directivesForm value name"
									listener="#{directivesBean.addDirective}" />
							</h:commandButton>
						</h:panelGrid>
						<br />
					</h:form>
					<h:form id="directivesForm">
						<h:dataTable binding="#{directivesBean.dataTable}"
							value="#{directivesBean.directives}" var="item">

							<h:column>
								<h:inputText value="#{item.name}" size="10" disabled="true" />
							</h:column>

							<h:column>
								<h:inputText value="#{item.value}" size="10" disabled="true" />
							</h:column>

							<h:column>
								<h:commandButton onclick="return confirm('Are you sure?');"
									image="/resources/images/cross.png">
									<f:ajax render="@form"
										listener="#{directivesBean.removeDirective}" />
								</h:commandButton>
							</h:column>

						</h:dataTable>
					</h:form>

				</h:panelGroup>
			</h:panelGrid>
		</div>
	</ui:define>
</ui:composition>
</html>