<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui"> 

<ui:composition template="/templates/mastertemplate.xhtml">
	<ui:define name="title">
	    List of users
	</ui:define>
	<ui:define name="content">
		<div align="center">
		<f:view>
		
		<h:panelGrid columns="1" style="text-align:center;">
			<h:panelGroup style="text-align:left;"><br />
			<h:outputText value="List of users" styleClass="innerTitle"/>
			<br />
			<br />
				<h:form>
					 <p:dataTable var="user" value="#{listUsersBean.usersList}" 
					 		paginator="true" rows="15"  
                 			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 			rowsPerPageTemplate="15,50"
                 			paginatorPosition="bottom" 
				            emptyMessage="No users found with given criteria">
				        <p:column headerText="Username" sortBy="#{user.username}" style="color: black;width:100px;">   
				            <h:outputText value="#{user.username}" />  
				        </p:column>  
				  
				        <p:column headerText="Name" style="color: black;width:100px;">  
				            <h:outputText value="#{user.name}" />  
				        </p:column>  
				  
				        <p:column headerText="E-Mail" style="color: black;width:200px;"> 
				            <h:outputText value="#{user.email}" />  
				        </p:column>  
				  
				        <p:column headerText="Active" style="color: black;text-align:center;">  
				            <h:commandButton rendered="#{!user.active}" onclick="return confirm('Activate this user?');"
								image="/resources/images/lock.png">
								<f:ajax render="@form"
									listener="#{listUsersBean.activateUser(user)}" />
							</h:commandButton>
							<h:commandButton rendered="#{user.active}" onclick="return confirm('Desactivate this user?');"
								image="/resources/images/unlock.png">
								<f:ajax render="@form"
									listener="#{listUsersBean.desactivateUser(user)}" />
							</h:commandButton>
				        </p:column>  
				    </p:dataTable> 
				</h:form>

			</h:panelGroup>
		</h:panelGrid>
		</f:view>
		</div>
		
	</ui:define>
</ui:composition>
</html>