<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui">

<ui:composition template="/templates/mastertemplate.xhtml">
	<ui:define name="title">
            List of Services
        </ui:define>
	<ui:define name="content">
		<br />
		<div align="center">
			<h:outputText value="List Services" styleClass="innerTitle" />
			<br />
			<h:panelGrid columns="1">
				<br />
				<h:form>
					<p:dataTable var="service" value="#{serviceListBean.bundleList}"
						paginator="true" rows="15"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="15,50" paginatorPosition="bottom"
						emptyMessage="No services found with given criteria">

						<p:column headerText="Owner" sortBy="#{service.user}"
							style="color: black;width:80px;">
							<h:outputText value="#{service.user}" />
						</p:column>
						<p:column headerText="Name" sortBy="#{service.name}"
							style="color: black;max-width:150px;">
							<h:outputText value="#{service.name}" />
						</p:column>
						<p:column headerText="Price" style="color: black;">
							<h:outputText value="#{service.price} €" />
						</p:column>
						<p:column headerText="Duration" style="color: black;">
							<h:outputText value="#{service.duration} days" />
						</p:column>
						<p:column headerText="Init date" style="color: black;">
							<h:outputText value="#{service.initdate}" />
						</p:column>
						<p:column headerText="Database" style="color: black;">
							<h:outputText value="#{service.database} MB" />
						</p:column>
						<p:column headerText="Storage" style="color: black;">
							<h:outputText value="#{service.storage} GB" />
						</p:column>
						<p:column headerText="Workers" style="color: black;">
							<h:outputText value="#{service.worker}" />
						</p:column>
						<p:column headerText="Stats" style="text-align:center;">
							<a href="servicestatistic.jsf?id=#{service.id}">
								<h:graphicImage height="24" value="/resources/images/chart.png" />
							</a>
						</p:column>

					</p:dataTable>
					<br />
				</h:form>

			</h:panelGrid>
		</div>
	</ui:define>
</ui:composition>
</html>